<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.DeliveryMapper">
    <sql id="baseDetail">
        SELECT id,
        user_id,
        recipients,
        phone,
        province,
        status,
        city,
        area,
        address,
        post_code,
        default_address
        FROM t_delivery
    </sql>


    <!--根据id查找收获地址详情-->
    <select id="findById" resultType="com.kunlun.entity.Delivery">
        <include refid="baseDetail"/>
        WHERE id=#{deliveryId} AND status='NORMAL'
    </select>


    <!--分页查询用户收货地址-->
    <select id="findByUserId" resultType="com.kunlun.entity.Delivery">
        <include refid="baseDetail"/>
        WHERE user_id=#{userId}
        AND status='NORMAL'
    </select>

    <!--新增收货地址-->
    <insert id="add" parameterType="com.kunlun.entity.Delivery">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_delivery(user_id,
        recipients,
        phone,
        province,
        city,
        area,
        status,
        address,
        post_code,
        create_date,
        update_date,
        type,
        default_address)
        VALUES(#{userId},
        #{recipients},
        #{phone},
        #{province},
        #{city},
        #{area},
        'NORMAL',
        #{address},
        #{postCode},
        NOW(),
        NOW(),
        #{type},
        'DEFAULT_ADDRESS')
    </insert>

    <!--修改其他的地址为不默认地址-->
    <update id="updateDefaultById">
        UPDATE t_delivery SET
        default_address='UN_DEFAULT_ADDRESS'
        WHERE user_id=#{userId}
        AND id !=#{id}
    </update>

    <!--修改收货地址-->
    <update id="update" parameterType="com.kunlun.entity.Delivery">
        UPDATE t_delivery SET
        <if test="recipients!=null">recipients=#{recipients},</if>
        <if test="phone!=null">phone=#{phone},</if>
        <if test="province!=null">province=#{province},</if>
        <if test="city!=null">city=#{city},</if>
        <if test="area!=null">area=#{area},</if>
        <if test="address!=null">address=#{address},</if>
        <if test="postCode!=null">post_code=#{postCode},</if>
        <if test="type!=null">type=#{type},</if>
        update_date=NOW()
        WHERE id=#{id}
    </update>


    <!-- 删除收货地址 -->
    <delete id="deleteById">
        UPDATE t_delivery SET
        status='UN_NORMAL',
        update_date=NOW()
        WHERE id=#{id}
    </delete>


    <!-- 默认收货地址 -->
    <update id="updateDefaultAddress">
        UPDATE t_delivery SET default_address='DEFAULT_ADDRESS' WHERE id=#{id} AND status='NORMAL'
    </update>

    <!--获取默认地址-->
    <select id="getDefault" resultType="com.kunlun.entity.Delivery">
        <include refid="baseDetail"/>
        WHERE user_id=#{userId}
        AND default_address='DEFAULT_ADDRESS'
        AND status='NORMAL'
    </select>
</mapper>