<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.PointMapper">

    <insert id="add" parameterType="com.kunlun.entity.Point">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO t_point(user_id,point,level,level_name,create_date)
        VALUES (#{userId},#{point},#{level},#{levelName},NOW())
    </insert>

    <sql id="detail">
         SELECT
         id,
         user_id,
         point,
         level,
         level_name,
         create_date
         FROM t_point
    </sql>
    <!--用户id查询积分信息-->
    <select id="findByUserId" resultType="com.kunlun.entity.Point">
        <include refid="detail"/>
        WHERE user_id = #{userId}
    </select>
    <!--操作用户积分-->
    <update id="update" parameterType="com.kunlun.entity.Point">
        UPDATE t_point
        SET point = #{point},
        level=#{level},
        <if test="levelName!=null">level_name=#{levelName},</if>
        update_date=NOW()
        WHERE id = #{id}
    </update>
</mapper>