<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.PointMapper">
    <!--微信根据open_id查询积分信息-->
    <select id="findByOpenid" resultType="com.kunlun.entity.Point">
        SELECT * FROM t_point WHERE user_id = #{openid}
    </select>

    <!--操作用户积分-->
    <update id="updatePoint">
        UPDATE t_point SET point = point + #{point}
        WHERE user_id = #{userId}
    </update>


    <!--获取积分记录-->
    <select id="findByUserId" resultType="com.kunlun.entity.PointLog">
        SELECT id,
        action,
        current_point,
        operate_point
        FROM t_point_log
        WHERE user_id=#{userId}
    </select>
</mapper>